html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Microsoft JhengHei UI",Consolas;
}

h3{
    line-height: 1.5;
}

.bg-white{
    background-color: white;
}

.game-ground{
    width: 1000px;
    height: 715px;
    margin: auto;
    background-color: #0f0f0f;
    border: solid 3px #2b669a;
}
.mission-area{
    width: 980px;
    height: 258px ;
    margin:10px auto ;
    border-radius: 20px;
    background-color: #c4ffe5;
}

